<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Outlook PIA -->
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1004" targetFramework="net48" />
  <!-- Office Core PIA (office.dll) -->
  <package id="MSOfficeCore.Interop" version="15.0.2" targetFramework="net48" />
  <!-- stdole PIA -->
  <package id="stdole" version="17.13.40008" targetFramework="net48" />
</packages>
